# Diretórios temporários
**/.virtual_documents/
**/.ipynb_checkpoints/
**/.devcontainer/
**/__pycache__/
.ipynb_checkpoints/
.virtual_documents/
__pycache__/
.idea/

# Pastas de configuração do Streamlit
Dashboard/.streamlit/
sandbox/.streamlit/

# Credenciais
config/*.json

